@(products :List[models.Product])

@main("Welcome to Play") {

<h1>Product</h1>

@if(products!=null) {
<legend>製品一覧</legend>
<table>
    <thead>
    <tr>
        <th>製品ID</th>
        <th>製品名</th>
        <th>値段</th>
    </tr>
    </thead>
    <tbody>
    @for((product) <- products){
    <tr>
        <td>@product.id</td>
        <td>@product.name</td>
        <td>@product.price</td>
        <td><a href="/product/show/@product.id">表示</a></td>
        <td><a href="/product/edit/@product.id">編集</a></td>
        <td><a href="/product/delete/@product.id">削除</a></td>
    </tr>
    }
    </tbody>
</table>
}
<a href="/product/add">追加</a>
}
